{% extends "base.html" %}
{% load filters %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h3>Dashboard</h3>
                <div class="container">
                    <p>
                        <b>Quickrun:</b> samples that crashed for the previous commit.
                    </p>
                    <div class="progress mb-5">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: {{ quickrun_processed|multiply:100|divide:quickrun_total }}%"
                             aria-valuenow="{{ quickrun_processed|multiply:100|divide:quickrun_total }}"
                             aria-valuemin="0"
                             aria-valuemax="100">{{ quickrun_processed }}/{{ quickrun_total }}</div>
                    </div>
                    <p>
                        <b>Longrun:</b> all remaining samples in queue. Errors encountered here may be novel.
                    </p>
                    <div class="progress mb-5">
                        <div class="progress-bar"
                             role="progressbar"
                             style="width: {{ longrun_processed|multiply:100|divide:longrun_total }}%"
                             aria-valuenow="{{ longrun_processed|multiply:100|divide:longrun_total }}"
                             aria-valuemin="0"
                             aria-valuemax="100">{{ longrun_processed }}/{{ longrun_total }}</div>
                    </div>
                    <p>
                        Last processed sample: <b>{{ heartbeat_delta }}</b> ago.
                    </p>
                    <p>
                        Last check for new dewolf version: <b>{{ idle_delta }}</b> ago.
                    </p>
                    <div class="container">
                        <pre><code>{{ health_stats }}</code></pre>
                    </div>
                    <div class="container">
                        <pre><code>{{ progress_log }}</code></pre>
                    </div>
                </div>
            </div>
        </div>
        <form method="post" action="{% url 'update' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Update Issues Status</button>
        </form>
    </div>
{% endblock content %}
