{% extends "base.html" %}
{% load encoding %}
{% block content %}
    {% if failed_case %}
        <div class="container">
            <div class="row">
                <div class="col-7">
                    <h4>{{ failed_case.dewolf_exception }}</h4>
                    <pre><code>
{{ failed_case.dewolf_traceback}}
            </code></pre>
                </div>
                <div class="col-5 text-truncate">
                    <h5></h5>
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">sample</th>
                                <td>
                                    <a href="{% url 'download_sample' failed_case.sample_hash %}"
                                       style="max-width: 150px"
                                       class="d-inline-block text-truncate text-decoration-none">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             width="16"
                                             height="16"
                                             fill="currentColor"
                                             class="bi bi-download"
                                             viewBox="0 0 16 16">
                                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z">
                                            </path>
                                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z">
                                            </path>
                                        </svg> &nbsp; 
                                    {{ failed_case.sample_hash }}</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">platform</th>
                                <td>{{ failed_case.function_platform }}</td>
                            </tr>
                            <tr>
                                <th scope="row">function name</th>
                                <td>{{ failed_case.function_name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">size</th>
                                <td>{{ failed_case.function_basic_block_count }}</td>
                            </tr>
                            <tr>
                                <th scope="row">group</th>
                                <td>{{ failed_case.case_group }}</td>
                            </tr>
                            <tr>
                                <th scope="row">error count</th>
                                <td>{{ failed_case.errors_per_group_count_pre_filter }}</td>
                            </tr>
                            <tr>
                                <th scope="row">GitHub Issue</th>
                                <td>TODO</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5>How to reproduce</h5>
                    <code>python decompily.py {{ failed_case.sample_hash }} {{ failed_case.function_name }} --debug</code>
                </br>
                <div class="card mt-3">
                    <div class="p-2">
                        <p>
                            <a class="btn btn-link"
                               data-bs-toggle="collapse"
                               href="#collapseExample"
                               aria-expanded="false"
                               aria-controls="collapseExample">&gt; options</a>
                            <a href="data:text/json;base64,{{ failed_case.dewolf_options|b64encode }}"
                               download="config.json">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="bi bi-download"
                                     viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z">
                                    </path>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z">
                                    </path>
                                </svg>
                            </a>
                        </p>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card-body">
                            <pre><code>
{{ failed_case.dewolf_options }}
                      </code></pre>
                        </div>
                    </div>
                </div>
                <h5 class="pt-3">Affected Versions</h5>
                Binaryninja Version: <code>{{ failed_case.binaryninja_version }}</code>
            </br>
            dewolf Commit: <code>{{ failed_case.dewolf_current_commit|truncatechars:8 }}</code>
        </div>
    </div>
    {% if related_cases %}
        <div class="row pt-5">
            <div class="col-12">
                <h5>Related (<code>{{ failed_case.case_group }}</code>)</h5>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Exception</th>
                            <th scope="col">Platform</th>
                            <th scope="col">Function</th>
                            <th scope="col">Size</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for related_case in related_cases %}
                            <tr class="clickable"
                                onclick="window.location='{% url 'dewolf_error' related_case.id %}';">
                                <td class="truncate">
                                    <code>
                                        {{ related_case.dewolf_exception }}
                                    </code>
                                </td>
                                <td class="truncate">
                                    <code>
                                        {{ related_case.function_platform }}
                                    </code>
                                </td>
                                <td class="truncate">
                                    <code>
                                        {{ related_case.function_name }}
                                    </code>
                                </td>
                                <td>{{ related_case.function_basic_block_count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
</div>
{% else %}
<p>error</p>
{% endif %}
{% endblock content %}
