{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3>Stats</h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">run type</th>
                            <th scope="col">commit</th>
                            <th scope="col" class="text-end">processed samples</th>
                            <th scope="col" class="text-end">functions decompiled</th>
                            <th scope="col" class="text-end">errors</th>
                            <th scope="col" class="text-end">unique exceptions</th>
                            <th scope="col" class="text-end">unique tracebacks</th>
                            <th scope="col" class="text-end">&#8960; decompilation time</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in summary %}
                            <tr>
                                <td>{{ item.tag }}</td>
                                <td>
                                    <code>{{ item.dewolf_current_commit|truncatechars:8 }}</code>
                                </td>
                                <td class="text-end">{{ item.processed_samples }}</td>
                                <td class="text-end">{{ item.total_functions }}</td>
                                <td class="text-end">{{ item.total_errors }}</td>
                                <td class="text-end">{{ item.unique_exceptions }}</td>
                                <td class="text-end">{{ item.unique_tracebacks }}</td>
                                <td class="text-end">{{ item.avg_dewolf_decompilation_time|floatformat:2 }}s</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
