{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div id="alert-area"></div>
                <form action="/file-upload"
                      class="dropzone border rounded mb-4 my-dropzone pe-auto">
                    <div class="mb-3 fallback">
                        <label for="formFile" class="form-label">File upload</label>
                        <input class="form-control" type="file" id="formFile" multiple />
                    </div>
                </form>
                <script>
                    const dropzone = new Dropzone("form.my-dropzone", { 
                        url: "upload/",
                        //disablePreviews: true,
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        success: function(file, response){
                            // Create response element
                            // Create the alert element
                            var alertElement = document.createElement("div");
                            alertElement.classList.add("alert", "alert-success", "alert-dismissible", "fade", "show");
                            alertElement.setAttribute("role", "alert");

                            // Create the close button
                            var closeButton = document.createElement("button");
                            closeButton.classList.add("btn-close");
                            closeButton.setAttribute("type", "button");
                            closeButton.setAttribute("data-bs-dismiss", "alert");
                            closeButton.setAttribute("aria-label", "Close");

                            // Create the alert message
                            var messageContainer = document.createElement("div");
                            var messageLine = document.createTextNode(response.message);
                            messageContainer.appendChild(messageLine);
                            response.sample_hashes.forEach(function (item, index) {
                                messageContainer.appendChild(document.createElement("br"));
                                var messageLine = document.createTextNode(item);
                                messageContainer.appendChild(messageLine);
                            });


                            // Append the close button and message to the alert element
                            alertElement.appendChild(closeButton);
                            alertElement.appendChild(messageContainer);

                            // Get the container where the alerts will be displayed
                            var alertContainer = document.getElementById("alert-area");

                            // Append the alert element to the container
                            alertContainer.appendChild(alertElement);
                            var bootstrapAlert = new bootstrap.Alert(alertElement);
                        }
                    });
                </script>
            </div>
        </div>
    </div>
{% endblock content %}
