{% extends "base.html" %}

{% block content %}
{% if failed_cases %}
    <div class="container">
        <h3>Exceptions by smallest test case</h3>
        <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Exception</th>
                <th scope="col">Smallest Case (BB)</th>
            </tr>
        </thead>
        <tbody>
            {% for failed_case in failed_cases %}
            <tr class="clickable" onclick="window.location='{% url 'case' failed_case.id %}';">
                <td>
                    <code>
                        {{ failed_case.dewolf_exception }}
                    </code>
                </td>
                <td>{{ failed_case.function_basic_block_count }}</td>
            </tr>
            {% endfor %}
            
        </tbody>
        </table>
    </div>
{% else %}
    <p>No samples are available.</p>
{% endif %}
{% endblock content %}
